<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>image recognition</title>

    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/Chart.css">
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
    
    <div class="container">
            <header class="text-center my-4 mx-5">
                    <h2 >Cells segmentation with unet++</h2>
                    <h5 class="mt-4">Choose an image from your gallery and isolate the available cells based on segmentation.</h5>
            </header>
        <div class="row">
            <div class="offset-md-2 col-md-8 text-center">
                <form enctype="multipart/form-data" action="{{ url_for('photoRecognize')}}" method="post" id="uploadForm">

                    
                    <div class="avatar-upload">
                        <div class="avatar-edit">
                            <input type='file' id="imageUpload" name="image_data" accept=".png, .jpg, .jpeg" />
                            <label for="imageUpload"></label>
                        </div>
                        <div class="avatar-preview">
                            <div id="imagePreview" style="background-image: url('../static/images/result-example.png');">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 text-center" style="font-size: 24px;font-weight: bold">
                        <p>click on the image above to select a photo</p>
                    </div>
                    <!-- <div class="image-div">
                        <img id="image" src="images/mask.png" alt="image-mask">
                        <input type='file' id="image-input" name="image_data" accept=".png, .jpg, .jpeg" />
                        <label for="image-input"></label>
                    </div>
                    <h3>Image Upload</h3> -->
                </form>
            </div>
        </div>

    </div>
    <div class="made-by">Realized by: Asma BRAZI</div>
    <div class="logo"><img src="../static/images/logo.png" alt="logo-university" ></div>
</body>
<script src="../static/js/bootstrap.min.js"></script>
<script src="../static/js/Chart.js"></script>
<script src="../static/js/jquery-3.5.1.min.js"></script>
<script>
    var ctx = document.getElementById("barChart").getContext('2d');
    var barChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: [""],
            datasets: [{
                label: 'data-1',
                data: [70],
                backgroundColor: "#8A1638"
            }]
        },

        options: {
            responsive: true,
            maintainAspectRatio: false,
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true,
                        max: 100
                    }
                }]
            }
        }
    });

    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#imagePreview').css('background-image', 'url(' + e.target.result + ')');
                $('#imagePreview').hide();
                $('#imagePreview').fadeIn(650);
            }
            reader.readAsDataURL(input.files[0]);
            var form = new FormData($("#uploadForm")[0]);
            var url ="{{ url_for('photoRecognize')}}";
            $.ajax({
                url: url,
                method: "POST",
                dataType: 'json',
                data: form,
                processData: false,
                contentType: false,
                success: function (result) {
                    console.log(result)

                    document.getElementById("barChart").html('');
                    newChart(result.results.proba,result.results.class);
                    $("#class").html(result.results.class);
                    $('#imagePreview').css("background-image", "url(/myimage.jpg)"); 
                 },
                error: function (er) {
                    console.log('error: '+er);
                 }
            });
        }
    }
    $("#imageUpload").change(function () {
        readURL(this);
    });

    // function readURL(input) {
    //     if (input.files && input.files[0]) {
    //         var reader = new FileReader();
    //         reader.onload = function(e) {
    //             $('#image').attr('src', e.target.result);
    //         }

    //         reader.readAsDataURL(input.files[0]); // convert to base64 string
    //     }
    // }

    // $("#image_data").change(function() {
    //     readURL(this);
    // });
</script>
<script>
    function newChart(number,type){
        var ctx = document.getElementById("barChart").getContext('2d');
    var barChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: [],
            datasets: [{
                data: [number],
                backgroundColor: "#8A1638"
            }]
        },

        options: {
            responsive: true,
            maintainAspectRatio: false,
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true,
                        max: 100
                    }
                }]
            }
        }
    });
    }
</script>

</html>