<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image classification</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Chart.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <header class="text-center my-5">
        <h2 >Image Classification</h2>
        <h5 class="mt-4">Choose an image from your gallery and predict the class. The model is able to recognize: <br> airplane, automobile, bird,
            chat, deer, dog, frog, horse, boat and truck.</h5>
    </header>
    <hr>
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center">
                <form enctype="multipart/form-data" action="{{ url_for('photoRecognize')}}" method="post" id="uploadForm">


                    <div class="avatar-upload">
                        <div class="avatar-edit">
                            <input type='file' id="imageUpload" name="image_data" accept=".png, .jpg, .jpeg" />
                            <label for="imageUpload"></label>
                        </div>
                        <div class="avatar-preview">
                            <div id="imagePreview" style="background-image: url('{{ url_for('static', filename='images/dog3.jpg') }}');">                          </div>
                            

                        </div>
                    </div>
                    <h3>Upload an image</h3>
                </form>
            </div>
            <div class="col-md-6 text-center">

                <div style="height: 250px;padding: 0px 150px;margin: 20px 0">
                    <canvas id="barChart" width="100"></canvas>
                </div>
                <h3 id="class">Dog</h3>
            </div>
        </div>

    </div>
    <div class="made-by">Realized by: Asma BRAZI</div>
    <div class="logo"><img src="{{ url_for('static', filename='images/logo.png') }}" alt="logo-university" ></div>
</body>




<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/Chart.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery-3.5.1.min.js') }}"></script>
<script>
    var ctx = document.getElementById("barChart").getContext('2d');
    var barChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: [""],
            datasets: [{
                label: 'Probabilty',
                data: [70],
                backgroundColor: "#8A1638"
            }]
        },

        options: {
            responsive: true,
            maintainAspectRatio: false,
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true,
                        max: 100
                    }
                }]
            }
        }
    });

    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#imagePreview').css('background-image', 'url(' + e.target.result + ')');
                $('#imagePreview').hide();
                $('#imagePreview').fadeIn(650);
            }
            reader.readAsDataURL(input.files[0]);
            var form = new FormData($("#uploadForm")[0]);
            var url ="{{ url_for('photoRecognize')}}";
            $.ajax({
                url: url,
                method: "POST",
                dataType: 'json',
                data: form,
                processData: false,
                contentType: false,
                success: function (result) {
                    console.log(result)
                    document.getElementById("barChart").innerHTML =""
                    var r = jQuery.parseJSON(result.results);
                    newChart(r.proba,r.class);
                    $("#class").html(r.class);
                 },
                error: function (er) {
                    console.log('error: '+er);
                 }
            });
        }
    }
    $("#imageUpload").change(function () {
        readURL(this);
    });

    // function readURL(input) {
    //     if (input.files && input.files[0]) {
    //         var reader = new FileReader();
    //         reader.onload = function(e) {
    //             $('#image').attr('src', e.target.result);
    //         }

    //         reader.readAsDataURL(input.files[0]); // convert to base64 string
    //     }
    // }

    // $("#image_data").change(function() {
    //     readURL(this);
    // });
</script>
<script>
    function newChart(number,type){
        var ctx = document.getElementById("barChart").getContext('2d');
    var barChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: [],
            datasets: [{
                label: 'Probabilty',
                data: [number],
                backgroundColor: "#8A1638"
            }]
        },

        options: {
            responsive: true,
            maintainAspectRatio: false,
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true,
                        max: 100
                    }
                }]
            }
        }
    });
    }
</script>

</html>